:root {
  --primaryColor: #06c167;
  --backgroundColor: #f3fcf7;
  --textColor: #1d1d1f;
  --desktopWidth: 73.12rem;
  --phoneWidth: 30rem;
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body > div{
  margin: 0 40px;
}
/* primary setup ends here */


.navbar {
  /* max-width: var(--phoneWidth); */
  display: flex;
  justify-content: space-between;
  margin: 15px 40px;
}

.navigation{
  /* margin: 0; */
  background: #181818;
  color: whitesmoke;
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  display: none;
}

.navigation ul{
  display: flex;
  gap: 40px;
  margin-right: 50px;
  align-items: center;
}

.navigation ul li{
  list-style: none;
}

.navigation ul li a{
  text-decoration: none;
}

.navigation ul li a:visited{
  color: whitesmoke;
}

.logo img {
  width: 40px;
}

.hamburger {
  width: 30px;
}



/* Hero section styling starts here */

.heroRight {
  width: 100%;
  text-align: center;
}

.intro{
  margin-top: 70px;
}

.intro p {
  margin: 12px;
}

.hello {
  font-weight: bold;
  font-size: 14px;
}

.user{
  font-size: 40px;
}

.role{
  font-weight: lighter;
  font-size: 16px;
}

.socialIcons img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px;
}

.socialIcons img:hover{
  scale: 110%;
}

.heroLeft img{
  display: flex;
  margin: 50px auto;
  width: 400px;
  border: #1d1d1f 5px solid; 
  border-radius: 100%;
}

/* About section styling start */
.aboutContainer{
  margin-top: 60px;
  margin-bottom: 80px;
}

.sectionHead{
  display: flex;
}

.underline{
  display:inline-block;
  width: 65%;
  height: 5px;
  background: #000;
  margin: 0 20px 0 0;

  align-self: end;
  border-radius: 30px;
}

.cards{
  /* display: flex; */
  text-align: center;
}

.card{
  width: 80%;
  border: #1d1d1f 1px solid;
  border-radius: 20px;
  margin: 50px auto; 
  padding: 30px 0;
}

.card h3{
  color: #1d1d1f;
  font-weight: bold;
  font-size: 25px;
  margin: 25px;
}

.card p{
  color: #606061;
  font-weight:500;
  font-size: large;
  margin: 15px 0;
}

.aboutText{
  color: #323232;
  font-weight: normal;
  font-size: 18px;
  line-height: 3ch;
}

/* Contact Me styling */
.contactContainer{
  margin-top: 60px;
  text-align: center;
}

#findMe{
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}

.contactInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: #1d1d1f 0.5px solid;
  border-radius: 15px;
  margin: 20px;
}

.contactInfo img{
  width: 30px;
  margin: 0 15px;
}

/* Footer styling */
footer{
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background: #0e0e0f;
  color: whitesmoke;
  font-weight:200;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@media only screen and (min-width: 740px) {
  body {
    /* background-color: lightblue; */
  }

  .hero{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-self: center;
  }

  .heroRight{
    width: 50%;
  }

  .navigation{
    display: flex;
  }

  .cards{
    display: flex;
    gap: 30px;
  }

  .hamburger,
  .navbar>.logo{
    display: none;
  }

  .underline{
    width: 400px;
  }
}